.column_right{
  min-width: 90%;
  max-width: 100%;
  height: 100%;
  float: left;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 120px;
  overflow-x: hidden;
  padding-right: 30px;
}

.column_right p{
  font-size: 15px;
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  text-indent: 40px;
  text-align: justify;
  padding-left: 30px;
}

.column_right .header{
  font-size: 30px;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  padding-top: 10px;
  padding-left: 30px;
}

.column_right .gb_title{
  font-size: 40px;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  color: black;
  padding-top: 10px;
}

.column_right .quote{
  font-size: 25px;
  font-family: 'Open Sans',sans-serif;
  font-style: italic;
  text-align: center;
  color: black;
  padding-top: 15px;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
}

p{
  font-size: 15px;
  font-family: "Times New Roman", Times. serif;
  text-align: left;
  text-indent: 40px;
  text-align: justify;
  padding-top: 10px;
}

.header{
  font-size: 30px;
  font-family: "Arial", Times, serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  padding-top: 10px;
}

.header-purpose{
  font-size: 30px;
  font-family: "Arial", Times, serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  display: block;
}

.p_scrollbox{
  margin-top: 15px;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: left;
  padding-right: 5px;
  overflow-y: scroll;
  max-height: 75vh;
}

.n_scrollbox{
  margin-top: 15px;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 5px;
  overflow-y: scroll;
  max-height: 75vh;
}

#p_borderDemo {
  border: 4px solid #1C6EA4;
  border-radius: 13px 13px 13px 13px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(135,206,250, 0.3);

  position: relative;
  -webkit-animation: leftToRight 5s 1;
  animation: leftToRight 1s 1;
}

#n_borderDemo{
  border: 4px solid #FE0101;
  border-radius: 13px 13px 13px 13px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(255,99,71, 0.3);

  position: relative;
  -webkit-animation: leftToRight 5s 1;
  animation: leftToRight 1s 1;
}

@keyframes leftToRight {
  0% {left: 800px;}
  100% {left: 0px;}
}

.highlight{
  background-color: yellow;
}

#first_top_of_search{
  background-color: #B08F8F;
  height: 50%;
}

.column_right .profile-img{
  height: 250px;
  width: 200px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.main_title{
  font-size: 30px;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  padding-top: 10px;
  margin: left;
}

iframe{
  width: 600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 20px;
}

.description{
  display: block;
  float: left;
}
