.column_right{
  min-width: 94%;
  max-width: 100%;
  height: 100%;
  float: left;
  display: block;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 120px;
  overflow-x: hidden;
}

.column_right p{
  font-size: 15px;
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  text-indent: 40px;
  text-align: justify;
  padding-left: 30px;
}

.column_right .regular{
  font-size: 30px;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  margin-top: 30px;
  padding-left: 30px;
}

@media only screen and (min-width: 1500px){
  .column_right .header{
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-color: rgb(151, 150, 150, 0.5);
    border-width: 2px 2px 2px 2px;
    margin-top: 15%;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1499px){
  .column_right .header{
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-color: rgb(151, 150, 150, 0.5);
    border-width: 2px 2px 2px 2px;
    margin-top: 10%;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1600px){
  .regular_header_title{
    padding-top: 20%;
  }
}

@media only screen and (max-width: 1599px){
  .regular_header_title{
    padding-top: 150px;
  }
}

.column_right .gb_title{
  font-size: 40px;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  color: black;
  padding-top: 10px;
}

.column_right .quote{
  font-size: 25px;
  font-family: 'Open Sans',sans-serif;
  font-style: italic;
  text-align: center;
  color: black;
  padding-top: 15px;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
}

p{
  font-size: 15px;
  font-family: "Times New Roman", Times. serif;
  text-align: left;
  text-indent: 40px;
  text-align: justify;
  padding-top: 10px;
}

.header{
  font-size: 30px;
  font-family: "Arial", Times, serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  padding-top: 10px;
}

.header-purpose{
  font-size: 30px;
  font-family: "Arial", Times, serif;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  display: block;
}

.p_scrollbox{
  margin-top: 15px;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: left;
  padding-right: 5px;
  overflow-y: scroll;
  max-height: 75vh;
}

.n_scrollbox{
  margin-top: 15px;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 5px;
  overflow-y: scroll;
  max-height: 75vh;
}

#p_borderDemo {
  border: 4px solid #1C6EA4;
  border-radius: 13px 13px 13px 13px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(135,206,250, 0.3);

  position: relative;
  -webkit-animation: leftToRight 5s 1;
  animation: leftToRight 1s 1;
}

#n_borderDemo{
  border: 4px solid #FE0101;
  border-radius: 13px 13px 13px 13px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(255,99,71, 0.3);

  position: relative;
  -webkit-animation: leftToRight 5s 1;
  animation: leftToRight 1s 1;
}

@keyframes leftToRight {
  0% {left: 800px;}
  100% {left: 0px;}
}

.highlight{
  background-color: yellow;
}

#first_top_of_search{
  background-color: #B08F8F;
  height: 50%;
}

.column_right .profile-img{
  height: 250px;
  width: 200px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.main_title{
  font-size: 30px;
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  border-bottom-style: solid;
  border-color: rgb(151, 150, 150, 0.5);
  border-width: 2px 2px 2px 2px;
  padding-top: 10px;
  margin: left;
}

iframe{
  width: 600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 20px;
}

.description{
  display: block;
  float: left;
}

.numTicker{
  font-size: 100px;
  font-weight: normal;
  display: inline-block;
  float: left;
}

.posTicker{
  font-size: 100px;
  font-weight: normal;
  float: left;
}

.negTicker{
  font-size: 100px;
  font-weight: normal;
  float: left;
}

.item{
  display: block;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 1px;
}

.left_of_bar{
  display: inline-block;
  width: 20%;
  float: left;
  margin-left: 60px;
  margin-top: 15px;
}

.bar_container{
  display: inline-block;
  padding-left: 200px;
  width: 50%;
  margin-top: 15px;
}

.p_total_ticker_left{
  height: 22px;
  width: 420px;
  border: 3px solid grey;
  display: block;
  margin-bottom: 12px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.p_total_ticker_right{
  height: 16px;
  /*415 is the max*/
  width: 355px;
  padding: 1px;
  display: block;
  margin-bottom: 12px;
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 14px;
  position: absolute;
  z-index: 2;
  text-align: right;
  font-size: 12px;
}

.n_total_ticker_right{
  height: 16px;
  /*415 is the max*/
  width: 355px;
  padding: 1px;
  display: block;
  margin-bottom: 12px;
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 14px;
  position: absolute;
  z-index: 2;
  text-align: center;
  text-align: right;
  font-size: 12px;
}

.expecting_reviews_right{
  height: 16px;
  /*415 is the max*/
  width: 355px;
  padding: 1px;
  display: block;
  margin-bottom: 12px;
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 14px;
  position: absolute;
  z-index: 2;
  text-align: center;
  text-align: right;
  font-size: 12px;
}

.average_rating_right{
  height: 16px;
  /*415 is the max*/
  width: 355px;
  padding: 1px;
  display: block;
  margin-bottom: 12px;
  margin-top: 3px;
  margin-left: 2px;
  border-radius: 14px;
  position: absolute;
  z-index: 2;
  text-align: center;
  text-align: right;
  font-size: 12px;
}
